*{
  outline: none;
}
body{
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-image: url(http://media-s3-us-east-1.ceros.com/hype-beast/images/2018/07/13/a9a51bc0b8d626db493ab5f9a971b043/background-hero.png);
}
header{
  font-size: 15px;
  height: 64px;
}
/* login---------------------------------------------------------------------------------------------- */
.login {
  background-color: #504040;
  width: 375px;
  height: 667px;
}
.pokePic {
  width: 32%;
  margin: 1em auto 1em;
}
.logo{
  width: 45%;
  margin: 5.7em auto 1.5em;
}
.untrapped{
  filter: brightness(0);
}
.login-input {
  margin: 1.5em auto;
  width: 335px;
  height: 210px;
  font-size: 17px;
  line-height: 35px;
}
.user{
  padding: 14px;
  height: 35px;
}
.btn-login{
  background-color: #2C97C1;
  border-color: #2C97C1;
  /* font-weight: 100; */
  height: 45px;
}
.forgot-password{
  text-align: right;
  margin: 0.4em;
  }
/* display ---------------------------------------------------------------------------------------------*/
nav{
  margin-top: 48px;
}
.wp-caption:hover{
  transform: scale(1.3);
  transition:.5s;
  border-radius: 50%
}
.wp-caption {
  position: relative;
  padding: 0px;
  width: 26%;
  background-image: none;
  }
.wp-caption img {
  display: block;
  max-width: 100%;
  height: auto;
  }
.wp-caption-text {
  opacity: 0;
  color: #A1F9FF;
  padding: 0.5em 0.2em;
  font-weight: 100;
  box-sizing: border-box;
  background-color: rgba(8,9,13,.8);
  transition: opacity .3s ease-in-out;
  }
.wp-caption:hover .wp-caption-text {
  opacity: 1;
  }
.type_background{
  display: inline;
  z-index: -1;
}
/* botones pokebola-------------------------------------------------------------------------------- */
.btn{
  width:40px;
  height:40px;
  border:none;
  /* color:#FFF; */
  /* font-size: 14px; */
  margin-right:26px;
  transform:scale(0);
}
.contenedor1{
  height: 245px;
}
.boton1{
  background-image: url(img/pokeball.png);
  margin-right: 12px;
  transition:.3s;
}
.animacionVer{
  transform:scale(1);
}
/* boton home------------------------------------------------------------------------------------------ */
.home{
  background-image: url(img/inicio.png);
  border:none;
  left: 0;
  margin-left: 12px;
}
/* botones huevo ------------------------------------------------------------------------------------- */
.contenedor2{
  height: 200px;
  right: 66px;
}
.boton-huevo{
  background-image: url(img/huevo.png);
  margin-right: 6px;
}
.boton2km{
  background:rgb(21, 180, 87);
  background-image: url(img/2km.png);
}
.boton5km{
  background:rgb(243, 175, 27);
  background-image: url(img/5km.png);
}
.boton10km{
  background:#a025be;
  background-image: url(img/10km.png);
}
.not-in-eggs{
  background-image: url(img/huevo.png);
  filter: brightness(0.5);
  border: solid red;
}
.contenedor3{
  left: 4.5em;
}
.contenedor4{
  left: 10em;
}
.types{
  width: 70px;
  height: 29px;
  border-radius: 20%;
  bottom: 7px;
  margin-right: 5px;
  margin-bottom: 18px;
}
.bug{
  background-image: url(img/Bug.png);
}
.dark{
  background-image: url(img/Dark.png);
 }
.dragon{
  background-image: url(img/Dragon.png);
}
.electric{
  background-image: url(img/Electric.png);
}
.fairy{
  background-image: url(img/Fairy.png);
}
.fighting{
  background-image: url(img/Fighting.png);
  }
.fire{
  background-image: url(img/Fire.png);
}
.flying{
  background-image: url(img/Flying.png);
  }
.ghost{
  background-image: url(img/Ghost.png);
  }
.grass{
  background-image: url(img/Grass.png);
  }
.ground{
  background-image: url(img/Ground.png);
  }
.ice{
  background-image: url(img/Ice.png);
  }
.normal{
  background-image: url(img/Normal.png);
  }
.poison{
  background-image: url(img/Poison.png);
  }
.psychic{
  background-image: url(img/Psychic.png);
  }
.rock{
  background-image: url(img/Rock.png);
  }
.steel{
  background-image: url(img/Steel.png);
  }
.water{
  margin-bottom: 285px;
  background-image: url(img/Water.png);
  }
 /* display ---------------------------------------------------------------*/
body > nav {
  height: 100%;
  width: 100%;  
  color: #FFF;
}
.card{
  height: 82vh;
  margin: 5vh;
  width: 50vh;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 25px;
}
.cardImg {
  width: 40vw;
  margin: 1em auto 0em;
  border-right: solid greenyellow;
  border-width: 0.5em;
  background-color: white;
}
.characteristics{
  align-items: center;
  height: 284px;
}
.size-img{
  width: 20px;
}
.pokedex{
  display: flex;
  justify-content: space-evenly;
  width: 50vh;
}
.wrap{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.column{
  display: flex;
  flex-direction: column;
}
.center-t{
  text-align: center;
}
.center-s{
  align-self: center;
}
.cover{
  background-size: cover;
}
.absolute{
  position: absolute;
}
.fixed{
  position: fixed;
}
.m-auto{
margin: auto;
}
.shadow{
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.active{
  transform:scale(1.1);
}
.m-right18{
  margin-right: 18px;
}
.m-right13{
  margin-right: 13px;
}
.m-right0{
  margin-right: 0px;
}
.m-right45{
  margin-right: 45px;
}
.m-right90{
  margin-right: 90px;
}
.right0{
  right:0;
}
.bottom0{
bottom:0;
}
.b-radius4{
  border-radius: 4%;
}
.b-radius50{
  border-radius: 50%;
}
.b-radius100{
  border-radius: 100%;
}
.transition05{
  transition:0.5s;
}
.transition07{
  transition:0.7s;
}
.transition09{
  transition:0.9s;
}
.transition11{
  transition:1.1s;
}
.transition13{
  transition:1.3s;
}
.transition15{
  transition:1.5s;
}
.m-bottom16{
  margin-bottom:16px;
}
.m-bottom60{
  margin-bottom: 60px;
}
.m-bottom70{
  margin-bottom: 70px;
}
.m-bottom105{
  margin-bottom: 105px;
}
.m-bottom114{
  margin-bottom: 114px;
}
.m-bottom150{
  margin-bottom: 150px;
}
.m-bottom158{
  margin-bottom: 158px;
}
.m-bottom195{
  margin-bottom: 195px;
}
.m-bottom203{
  margin-bottom: 203px;
}
.m-bottom240{
  margin-bottom: 240px;
}
.m-bottom285{
  margin-bottom: 285px;
  }
.calibri{
  font-family: calibri;
}
.font10{
  font-size: 10px;
}
.font16{
  font-size: 16px;
}
.white{
  color:#ffffff;
}
.bgdred{
  background:#FF0000;
}
.border-black{
  border:solid #000000;
}
.border-white{
  border: solid #FFFFFF;
}
.z-index5{
  z-index: 5;
  }
.z-index6{
z-index: 6;
}
.z-index7{
  z-index: 7;
  }
.butt-size{
  width: 50px;
  height: 50px;
}
.cont-size{
  width: 160px;
  height: 356px;
}
.width70{
  width: 70px;
}
.width100{
width: 100%;
}
.border-gy{
border-bottom: solid greenyellow;
}
/* media query------------------------------------------------------------------------------------------------------------------------- */
@media only screen and (min-width: 376px){

  html,body{
      background-size: cover;
      background-repeat: repeat-y;
      height: 100%;
  }
  header{
      font-size:25px;
      height: 77px;
      align-content: center;
  }
  input[type="image" i] {
  width: 75%;
  }
  .login {
  width: 536px;
  height: 501px;
  justify-content: center;
  align-self: center;
  }
  .pokePic, .logo {
      width: 25%;
  }
  .login-input {
      margin: 0.5em auto;
      height: 214px;
      inline-size: 367px;
  }
  .btn-login{
      inline-size: 157px;
      align-self: center;
  }
  .wp-caption {
      width: 15%;
      padding: 29px;
  }
  .wp-caption-text {
      font-size: 18px;
      padding: 0em;
  }
  .cardImg{
    width: 43%;
    margin-top: 3em;
  }
  .deb{
    margin-left: 90px;
  }
  .typ{
    margin-left: 30px;
  }
  .types{
    font-size: 20px;
    width: 120px;
    height: 35px;
    border-radius: 20%;
  }
  .home{
    position: fixed;
  }
  }
  .hide{
    display: none;
  }
